body{
    margin: 1em;
}

/* .intro-competences{
    
} */

.intro{
    border: solid black 1px;
    margin-bottom: 1%;

    display: flex;
}

.partie-gauche {
    border: solid black 1px;
    margin: 0.5%;
    
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partie-droite {
    border: solid black 1px;
    margin: 0.5%;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.competences{
    border: solid black 1px;
    height: 10em;

    /* display: flex;
    flex-direction: column; */
}

.icones{
    border: solid black 1px;
    margin: 0.5%;
    /* flex: 1; */
    height: 40%;
}

.description-comptences{
    border: solid black 1px;
    margin: 0.5%;
    /* flex: 1; */
    height: 40%;
}



